body{
    background-image: url(im);
    background-repeat: no-repeat;
    background-size: 100% 700px;
}


.simple-form{
    text-align: right;
    margin: 100px 400px; 
}
#registration{
    width: 100%;
    background-color: #051019;
    opacity: 0.8;
    padding: 50px 0px;
}
#button{
    width: 250px;
    padding: 10px;
    border-radius: 5px; 
    outline: 0px;
}
#ph{
    outline: 0px;
   width:50px;
    padding: 10px;
    border-radius: 5px;  
}
#phone{
    outline: 0px;
   width:200px;
    padding: 10px;
    border-radius: 5px;  
}
#rd{
    
}
#but{
    color: white;
    font-size: 18px;
}
#butt {
    font-size: 18px;
    outline: 0px;
    width: 250px;
    padding: 10px;
    border-radius: 5px;
    background-color: #0c6996;
    border: 2px solid #01010c;
    color: aliceblue;
}
